

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;

}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.62rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
  line-height: 3em;
}

a {
  color: #11999E;
  text-decoration: none;
  margin: 10px 20px;
  font-family: 'Merriweather', serif;
}

a:hover {
  color: #EAF6F6;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
  border-width: 112px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;

}

.skill-row {
  width: 50%;
  margin: 100px auto 160px auto;
  text-align: left;
}

.desigh-img {
  width: 25%;
  float: left;
  padding-right: 30px;
}

.java-img {
  width: 25%;
  float: right;
  margin-left: 0;
}

.contact-me {
  padding-bottom: 50px;
}

.btn {
  -webkit-border-radius: 15px;
  background-color: #2FC4B2;
  border: none;
  color: white;
  padding: 8px 22px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  height: 30px;
  font-family: 'Merriweather', serif;
}

.contact-message {
  width: 35%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 1rem;
  padding: 20px 0;
}
